@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Dancing+Script:wght@700&family=Galada&family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


.myrow1{
	height: 200px;
	background-color: #99d6ff;
	margin-top:  -10px; 
}
.navbar-brand{
	padding-left: 50px;
}
.navbar-header .navbar-brand{	
	color: #fff;
	font-family: 'Galada', cursive;
	font-size: 30px;
}
/*NAVBAR 3DOT ICON*/
.navbar-header .glyphicon-menu-hamburger{
	color: #fff;
	font-size: 24px;
	background: transparent;
	padding: 0;
}

.navbar-inverse .navbar-toggle,.navbar-inverse .navbar-toggle:hover{
	background: transparent;
	border: transparent;
}
/*NAVBAR 3DOT ICON CLOSE*/

.navbar-inverse{
	background-color: rgb(0, 0, 102);
	border: transparent;
}
.navbar-inverse .container ul li a{
	font-size: 20px;
	color: #fff;
	margin-right: 10px;
}
.profile-logo{
	border-radius: 50%;
	margin-top: 10px; 
	margin-left: 10px; 
	height: 30px;
	width: 30px;
}
.profile-pic{
	position: absolute;
	margin-top: 150px;
	height: 15vh;
	width: 15vh;
	border-radius: 50%;
	border: 2px solid #c2c2a3;
}
.icon-div a{
	color: #000;
	text-decoration: none;
}
.icon-div a:hover{
	text-decoration: none;
}
.glyphicon-cog{
	font-size: 20px;
	color: #3d3d29;
	padding-left: 20px;
	margin-top: 7px;
}
.icon-div{
	float: right;
}
#post{
	font-family: 'Pacifico', cursive;
}
.picture-style{
	height: 300px;
	width: 400px;
}

/*modal */
.save-btn{
	background-color: #0033cc;
	color: #fff;
}
.save-btn:hover{
	color: #fff;
}
#backgrnd-img{
	height: 200px;
	width: auto;
	background: #d6d6c2;
}
.modal-body{
	padding: 0px;
}
#backgrnd-img .glyphicon-cog{
	color: #fff;
	font-size: 20px;
}
#backgrnd-img button{
	float: right;
	padding: 15px;
	background:transparent;
}
#change-pic{
	height: 100px;
	width: 100px;
	border-radius: 10px ;
	margin-top: -90px;
	border:1px solid #adad85;
	box-shadow: 0px 0px 10px #adad85;
}
.picture-div .btn {
	margin-left: -30px;	
	background: transparent;
}
.picture-div .btn .glyphicon{
	font-size: 25px;
}
#form-style{
	padding-right: 50px;
	padding-left:  50px;
}
#form-style label{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
}

.pointer {cursor: pointer;}